.homepage{  
    .section-Search{  
        background-color: $second-Background-Color;        
        @include mixin-main-flex(center,center,27px);
        padding-bottom: 57px;
        padding-top: 39px;
        .section-Search-Title{ 
            @include mixin-main-flex(center,center,30px);            
            h1{
                @include mixin-cote(75%,auto);
                text-align: center;
            }
            p{
                text-align: center;
            }
        }
    }
    .section-Explication {        
        @include mixin-main-flex(center,flex-start,25px);
        margin: 50px 0;
        padding: 0 20px;
        @include desktop{
            width: 82%;
            margin: 50px auto;
        }
        .section-Explication__list {  
            @include mixin-cote(100%,auto);
            @include desktop{
                margin: auto;
            }      
            ol {
                @include mixin-main-flex(center,flex-start,26px);
                padding-inline-start: 0;
                @include desktop{
                    flex-direction: row;
                }
                @include tablet{
                    flex-direction: row;
                }
                li{
                    @include mixin-cote(100%,72px);
                    @include mixin-main-flex(flex-start,center,27px);
                    flex-direction: row;
                    background-color: $second-Background-Color;
                    border-radius: 20px;                    
                    padding-left: 2.125rem;
                    position: relative;
                    counter-increment: thumbs;
                    @include desktop{
                        gap: 1.187rem;
                    }
                    @include tablet{
                        gap: .937rem;
                    }
                    &::before{
                        content: counter(thumbs);
                        background: $primary-Color;
                        border-radius: 25px;
                        color: white;
                        padding: 0 5px;
                        position: absolute;
                        left: -10px;
                    }
                }
            }
        }
    }
    .section-Restaurants{
        @include mixin-main-flex(center,flex-start,29px);
        background-color:$second-Background-Color;
        padding: 54px 11px 30px 17px;
        h2{
            padding-left: 5px;
            @include desktop{
                @include mixin-cote(82%,auto);
                margin: auto;
            }
            @include tablet{
                @include mixin-cote(82%,auto);
                margin: auto;
            }
        }
        .section-Restaurants__cards{
            @include mixin-cote(98.5%,auto);
            display: grid;
            grid-template-rows: repeat(4,1fr);
            row-gap: 18px; 
            margin: auto;
            @include desktop{
                @include mixin-cote(82%,auto);
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
                gap: 90px;
            }
            @include tablet{
                @include mixin-cote(82%,auto);
                grid-template-columns: repeat(2,1fr);
                grid-template-rows: repeat(2,1fr);
                gap: 90px;
            }
        }
        a{  
            position: relative;       
            >span{
                @include mixin-card-sticker;
                box-shadow: $shadow-grey-btn;
                position: absolute;
                z-index: 1;
                right: 1.98rem;
                top: 1.45rem;
            } 
        }   
    }   
}