.homepage .section-Nav{
    height: 50px;
    @include mixin-main-flex(center,center,0);
    background-color: $thirth-Background-Color;
    box-shadow: $shadow-header;
    &__form{
        background-color: $thirth-Background-Color;
        @include mixin-main-flex(center,center,0);
        flex-direction: row;
        input,i,label{
            background-color: $thirth-Background-Color;
            text-align: center;
        }
    }
    @include desktop{
        box-shadow: none;
    }
    @include tablet{
        box-shadow: none;
    }
}