.btn-purple{
    @include mixin-cote(13.625rem,3.125rem);
    @include mixin-font-txt-btn;
    @include mixin-main-flex(center,center,0);
    color: white;
    background:linear-gradient(to top, $primary-Color -11.44%, $second-Color 123.93%);
    border: none;
    border-radius: 25px;
    box-shadow: $shadow-purple-btn; 
    transition: all 450ms ease-in-out;
    &:hover{
        opacity: 0.8;
        box-shadow:0px 8px 10px rgba(0, 0, 0, 0.25);
    }
}

.heart{
    position: relative;
    .empty-heart{
        font-size: 22px;
        position: absolute;
        right: 1px;
        bottom: -5px;
    }
}

.menu-btn {
    display:flex;
    position:relative;
    cursor:pointer;
    margin:10px 0px;
    border-radius: 15px;
    padding: 10px;
    width:auto;
    background-color: white;
    overflow: hidden;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    animation: vignette 300ms backwards;
    .menu__txt {
        @include mixin-cote(100%,auto);
        @include mixin-overflow;
        display: flex;
        flex-direction: column;
        transition: all 450ms ease-in-out;
        .menu__txt h3 {
            margin:0px 35px 5px 0px;
        }
        .menu__txt--info {
            display: flex;
            justify-content: space-between;
        }
        .menu__txt--prix {
            padding-left:10px;
            transition: all 450ms ease-in-out;
        }
    }
    .menu__validation {
        @include mixin-cote(59px,69px);
        @include mixin-main-flex(center,center,0);
        position:absolute;
        right:-70px;
        top:0px;
        border-radius: 0px 15px 15px 0px;
        background-color: $thirth-Color;
    }
}