.btn-purple{
    @include mixin-cote(13.625rem,3.125rem);
    @include mixin-font-txt-btn;
    @include mixin-main-flex(center,center,0);
    color: white;
    background:linear-gradient(to top, $primary-Color -11.44%, $second-Color 123.93%);
    border: none;
    border-radius: 25px;
    box-shadow: $shadow-purple-btn; 
    transition: all 450ms ease-in-out;
    &:hover{
        opacity: 0.8;
        box-shadow: $shadow-purple-btn;
    }
}
.heart{
    position: relative;
    .empty-heart{
        font-size: 22px;
        position: absolute;
        right: 1px;
        bottom: -12px;
    }
}
.menu-btn {
    position:relative;
    cursor:pointer;
    margin:10px 0px;
    border-radius: 15px;
    padding: 15px;
    width:auto;
    background-color: white;
    overflow: hidden;
    box-shadow: $shadow-white-btn;
    .menu__txt {
        @include mixin-cote(100%,auto);
        @include mixin-overflow;
        transition: all 450ms ease-in-out;
        .menu__txt--info {            
            @include mixin-main-flex(space-between,center,0);
            flex-direction: row;
            p{
                font-size: nth($font-Size,1);
            }
        }
        .menu__txt--prix {            
            transition: all 450ms ease-in-out;
        }
    }
    .menu__validation {
        @include mixin-cote(59px,71px);
        @include mixin-main-flex(center,center,0);
        position:absolute;
        right:-70px;
        top:0px;
        border-radius: 0px 15px 15px 0px;
        background-color: $thirth-Color;
    }
}