// Général
body,label,input,select,textarea,ul{  
    font-family: $font-Text;
}
h1,h2{
    font-size: nth($font-Size,4); 
}
p,h3{
    font-size: nth($font-Size,3);
    margin: 0;
}
input,ul{
    font-size: nth($font-Size,1);
}
input,.section-Explication__list--grey-btn{
    border: none;
}

// Footer
footer{
    h2, .footer__list--txt-normal {
        font-weight: 400;
    }
    h2{
        color: white;
        font-size: nth($font-Size,2);
        font-family: $font-Title-Logo;
        }
    .footer__list--txt-bold{
        font-weight: 500;
      } 
}

// icones
.fa-solid{
    color: $icon-Color;
}
.fa-location-dot{
    @include mixin-cote(12px,auto);
    color:#353535;
}
.fa-heart{ 
    @include mixin-cote(22px,auto);               
}
.fa-circle-check{
    font-size: 1.25rem;
}
.fa-utensils,.fa-handshake-angle,.fa-circle-check{
    color: white;
}
.euro{
    font-size: 0.937rem;
    font-weight: 700;
}
.fa-store {
    color: $primary-Color;
}
.fa-arrow-left{
    color: black;
    font-size: nth($font-Size,2);
}