@charset "UTF-8";
/* Général */
/* Logo */
/* Cards */
/* Loader*/
/* Responsive */
.heart .empty-heart {
  z-index: 5;
}
.heart .empty-heart:hover + .full-heart {
  transform: scale(1, 1);
}
.heart .full-heart {
  font-size: 20px;
  position: absolute;
  bottom: -10px;
  right: 0px;
  background: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
  background-clip: text;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform-origin: bottom;
  transform: scale(0, 0);
  transition: transform 2000ms;
}

.menu__validation {
  transition: all 450ms ease-in-out;
}

.menu-btn:hover .menu__txt--info,
.menu-btn:hover .menu__txt--prix {
  padding-right: 35px;
  transition: all 450ms ease-in-out;
}

.menu-btn:hover .menu__validation {
  transform: translate(-70px);
}

.menu-li--1 {
  animation: menu 375ms 1400ms linear backwards;
}
.menu-li--1 .menu-btn {
  animation: menu__item 550ms ease-in-out backwards;
}
.menu-li--1 .menu-btn--1 {
  animation-delay: 1400ms;
}
.menu-li--1 .menu-btn--2 {
  animation-delay: 1600ms;
}
.menu-li--1 .menu-btn--3 {
  animation-delay: 1800ms;
}
.menu-li--1 .menu-btn--4 {
  animation-delay: 1950ms;
}

.menu-li--2 {
  animation: menu 325ms 1768ms linear backwards;
}
.menu-li--2 .menu-btn {
  animation: menu__item 375ms ease-in-out backwards;
}
.menu-li--2 .menu-btn--1 {
  animation-delay: 2092ms;
}
.menu-li--2 .menu-btn--2 {
  animation-delay: 2250ms;
}
.menu-li--2 .menu-btn--3 {
  animation-delay: 2400ms;
}

.menu-li--3 {
  animation: menu 325ms 2033ms linear backwards;
}
.menu-li--3 .menu-btn {
  animation: menu__item 375ms ease-in-out backwards;
}
.menu-li--3 .menu-btn--1 {
  animation-delay: 2500ms;
}
.menu-li--3 .menu-btn--2 {
  animation-delay: 2650ms;
}
.menu-li--3 .menu-btn--3 {
  animation-delay: 2750ms;
}

@keyframes menu {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes menu__item {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0%);
  }
}
* {
  color: black;
  box-sizing: border-box;
}

body, label, input, select, textarea, h1, h2, p {
  padding: 0;
  margin: 0;
}

main, header, footer, .section-Nav, .section-Search, .section-Search-Title, .section-Explication, .section-Restaurants, input, select {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body, label, input, select, textarea, ul {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  font-size: 1.5rem;
}

p, h3 {
  font-size: 1.125rem;
  margin: 0;
}

input, ul {
  font-size: 1rem;
}

input, .section-Explication__list--grey-btn {
  border: none;
}

footer h2, footer .footer__list--txt-normal {
  font-weight: 400;
}
footer h2 {
  color: white;
  font-size: 1.0625rem;
  font-family: "Shrikhand", sans-serif;
}
footer .footer__list--txt-bold {
  font-weight: 500;
}

.fa-solid {
  color: #7e7e7e;
}

.fa-location-dot {
  width: 12px;
  height: auto;
  color: #353535;
}

.fa-heart {
  width: 22px;
  height: auto;
}

.fa-circle-check {
  font-size: 1.25rem;
}

.fa-utensils, .fa-handshake-angle, .fa-circle-check {
  color: white;
}

.euro {
  font-size: 0.937rem;
  font-weight: 700;
}

.fa-store {
  color: #9356DC;
}

.fa-arrow-left {
  color: black;
  font-size: 1.0625rem;
}

.btn-purple {
  width: 13.625rem;
  height: 3.125rem;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  color: white;
  background: linear-gradient(to top, #9356DC -11.44%, #FF79DA 123.93%);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 450ms ease-in-out;
}
.btn-purple:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.heart {
  position: relative;
}
.heart .empty-heart {
  font-size: 22px;
  position: absolute;
  right: 1px;
  bottom: -12px;
}

.menu-btn {
  position: relative;
  cursor: pointer;
  margin: 10px 0px;
  border-radius: 15px;
  padding: 15px;
  width: auto;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
}
.menu-btn .menu__txt {
  width: 100%;
  height: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: all 450ms ease-in-out;
}
.menu-btn .menu__txt .menu__txt--info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.menu-btn .menu__txt .menu__txt--info p {
  font-size: 1rem;
}
.menu-btn .menu__txt .menu__txt--prix {
  transition: all 450ms ease-in-out;
}
.menu-btn .menu__validation {
  width: 59px;
  height: 71px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: absolute;
  right: -70px;
  top: 0px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99E2D0;
}

.card {
  width: 100%;
  height: 15.69rem;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin: 0;
}
.card > img {
  width: 100%;
  height: 69%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.card figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 25px 12px 13px;
}
.card figcaption .figure__figcaption--txt h3 {
  margin: 0 0 5px 0;
}
.card figcaption .figure__figcaption--txt p {
  font-size: 1.0625rem;
}

.loader {
  width: 100%;
  height: 100vh;
  background: #F6F6F6;
  position: fixed;
  display: flex;
  justify-content: center;
  padding-top: 250px;
  z-index: -20;
}
.loader .triangle-up-1, .loader .triangle-up-4 {
  border-color: #9356DC;
  border-bottom: 100px solid #9356DC;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.loader .triangle-down-1, .loader .triangle-down-4 {
  border-color: #9356DC;
  border-top: 100px solid #9356DC;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.loader .triangle-up-2, .loader .triangle-up-5 {
  border-color: #FF79DA;
  border-bottom: 100px solid #FF79DA;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.loader .triangle-down-2, .loader .triangle-down-5 {
  border-color: #FF79DA;
  border-top: 100px solid #FF79DA;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.loader .triangle-up-3 {
  border-color: #99E2D0;
  border-bottom: 100px solid #99E2D0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.loader .triangle-down-3 {
  border-color: #99E2D0;
  border-top: 100px solid #99E2D0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.loader {
  opacity: 0;
  animation: loader 3s linear;
}
.loader .triangle-1, .loader .triangle-2, .loader .triangle-3, .loader .triangle-4, .loader .triangle-5 {
  position: absolute;
  transform: skewX(25deg);
}
.loader .triangle-1 {
  animation: animation-1 3s linear;
  animation-iteration-count: 5;
}
.loader .triangle-2 {
  animation: animation-2 3s linear;
  animation-iteration-count: 5;
}
.loader .triangle-3 {
  animation: animation-3 3s linear;
  animation-iteration-count: 5;
}
.loader .triangle-4 {
  animation: animation-4 3s linear;
  animation-iteration-count: 5;
}
.loader .triangle-5 {
  animation: animation-5 3s linear;
  animation-iteration-count: 5;
}

@keyframes loader {
  0% {
    opacity: 1;
    z-index: 30;
  }
  99% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}
@keyframes animation-1 {
  0% {
    transform: rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(180deg);
    opacity: 0.6;
  }
}
@keyframes animation-2 {
  0% {
    transform: rotateY(20deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(200deg);
    opacity: 0.5;
  }
}
@keyframes animation-3 {
  0% {
    transform: rotateY(40deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(220deg);
    opacity: 0.4;
  }
}
@keyframes animation-4 {
  0% {
    transform: rotateY(60deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(240deg);
    opacity: 0.3;
  }
}
@keyframes animation-5 {
  0% {
    transform: rotateY(80deg);
    opacity: 1;
  }
  100% {
    transform: rotateY(260deg);
    opacity: 0.2;
  }
}
header {
  width: 100%;
  height: 3.94rem;
}
header .header__logo {
  width: 10.125rem;
  height: 2.25rem;
}

.main-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.restaurants-header {
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
}
.restaurants-header a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  background-color: #353535;
  padding: 1.375rem 1.562rem;
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 4.375rem;
    flex-direction: row-reverse;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  padding-inline-start: 0;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  footer ul {
    flex-direction: row;
    gap: 20px;
  }
}
footer ul li a {
  color: white;
}
footer .fa-utensils {
  width: auto;
  height: 0.8125rem;
  margin-right: 0.687rem;
}
footer .fa-handshake-angle {
  scale: 0.78;
  margin-right: 0.3rem;
}

.homepage .section-Search {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
  padding-bottom: 57px;
  padding-top: 39px;
}
.homepage .section-Search .section-Search-Title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.homepage .section-Search .section-Search-Title h1 {
  width: 75%;
  height: auto;
  text-align: center;
}
.homepage .section-Search .section-Search-Title p {
  text-align: center;
}
.homepage .section-Explication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  margin: 50px 0;
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  .homepage .section-Explication {
    width: 82%;
    margin: 50px auto;
  }
}
.homepage .section-Explication .section-Explication__list {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1024px) {
  .homepage .section-Explication .section-Explication__list {
    margin: auto;
  }
}
.homepage .section-Explication .section-Explication__list ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 26px;
  padding-inline-start: 0;
}
@media screen and (min-width: 1024px) {
  .homepage .section-Explication .section-Explication__list ol {
    flex-direction: row;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .homepage .section-Explication .section-Explication__list ol {
    flex-direction: row;
  }
}
.homepage .section-Explication .section-Explication__list ol li {
  width: 100%;
  height: 72px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 27px;
  flex-direction: row;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding-left: 2.125rem;
  position: relative;
  counter-increment: thumbs;
}
@media screen and (min-width: 1024px) {
  .homepage .section-Explication .section-Explication__list ol li {
    gap: 1.187rem;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .homepage .section-Explication .section-Explication__list ol li {
    gap: 0.937rem;
  }
}
.homepage .section-Explication .section-Explication__list ol li::before {
  content: counter(thumbs);
  background: #9356DC;
  border-radius: 25px;
  color: white;
  padding: 0 5px;
  position: absolute;
  left: -10px;
}
.homepage .section-Restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 29px;
  background-color: #F6F6F6;
  padding: 54px 11px 30px 17px;
}
.homepage .section-Restaurants h2 {
  padding-left: 5px;
}
@media screen and (min-width: 1024px) {
  .homepage .section-Restaurants h2 {
    width: 82%;
    height: auto;
    margin: auto;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .homepage .section-Restaurants h2 {
    width: 82%;
    height: auto;
    margin: auto;
  }
}
.homepage .section-Restaurants .section-Restaurants__cards {
  width: 98.5%;
  height: auto;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 18px;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .homepage .section-Restaurants .section-Restaurants__cards {
    width: 82%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 90px;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .homepage .section-Restaurants .section-Restaurants__cards {
    width: 82%;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 90px;
  }
}
.homepage .section-Restaurants a {
  position: relative;
}
.homepage .section-Restaurants a > span {
  width: 80px;
  height: auto;
  font-size: 0.875rem;
  color: #008766;
  text-align: center;
  background-color: #99E2D0;
  border-radius: 2px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
  z-index: 1;
  right: 1.98rem;
  top: 1.45rem;
}

.homepage .section-Nav {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: #EAEAEA;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.homepage .section-Nav__form {
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.homepage .section-Nav__form input, .homepage .section-Nav__form i, .homepage .section-Nav__form label {
  background-color: #EAEAEA;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .homepage .section-Nav {
    box-shadow: none;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .homepage .section-Nav {
    box-shadow: none;
  }
}

.restaurants .banner {
  margin: 0;
}
.restaurants .banner img {
  width: 100%;
  height: 16.8rem;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .restaurants .banner img {
    width: 100%;
    height: 31.25rem;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .restaurants .banner img {
    width: 100%;
    height: 25rem;
  }
}
.restaurants section {
  width: 100%;
  height: auto;
  background-color: #F6F6F6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  top: -50px;
  z-index: 1;
  padding: 12px 13px 20px 13px;
  margin-bottom: -50px;
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  .restaurants section {
    width: 73.3%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding-bottom: 30px;
    margin: 0 auto -50px auto;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .restaurants section {
    width: 87%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding-bottom: 30px;
    margin: 0 auto -50px auto;
  }
}
.restaurants section .title {
  width: 19.18rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: row;
  margin: 22px auto;
}
.restaurants section .title h1 {
  font-size: 1.75rem;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  margin: 0;
}
.restaurants section .line {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  border: none;
  margin: 0;
  position: relative;
}
.restaurants section article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .restaurants section article {
    width: 39.625rem;
    height: auto;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .restaurants section article {
    width: 39.625rem;
    height: auto;
  }
}
.restaurants section article h2 {
  font-size: 1rem;
  font-weight: 300;
}
.restaurants section article .menu {
  width: 100%;
  height: auto;
  padding-inline-start: 0;
}
.restaurants section article .menu .menu-btn .menu__txt--ingredient, .restaurants section article .menu .menu-btn h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.restaurants form {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  position: relative;
  z-index: 2;
  padding: 20px 0 35px 0;
}
@media screen and (min-width: 1024px) {
  .restaurants form {
    width: 73%;
    height: auto;
    background-color: #F6F6F6;
    margin: auto;
  }
}
@media screen and (min-width: 820px) and (max-width: 1023px) {
  .restaurants form {
    width: 87%;
    height: auto;
    background-color: #F6F6F6;
    margin: auto;
  }
}

/*# sourceMappingURL=fichier.css.map */
