.restaurants{
    .banner {
        margin: 0;
        img{
            @include mixin-cote(100%,16.8rem);
            object-fit: cover;
            @include desktop{
                @include mixin-cote(100%,31.25rem);
            }
            @include tablet{
                @include mixin-cote(100%,25rem);
            }
        }    
    }
    section{
        @include mixin-cote(100%,auto);
        background-color: $second-Background-Color;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        position: relative;
        top: -50px;
        z-index: 1;
        padding: 12px 13px 20px 13px;
        margin-bottom: -50px;
        box-sizing: border-box;
        @include desktop{
            @include mixin-cote(73.3%,auto);
            @include mixin-main-flex(center,center,0);
            padding-bottom: 30px;
            margin: 0 auto -50px auto;
        }
        @include tablet{
            @include mixin-cote(87%,auto);
            @include mixin-main-flex(center,center,0);
            padding-bottom: 30px;
            margin: 0 auto -50px auto;
        }
        .title{
            @include mixin-cote(19.18rem,auto);
            @include mixin-main-flex(space-between,center,10px);
            flex-direction: row;
            margin: 22px auto;
            h1{
                font-size: nth($font-Size,5);
                font-family: $font-Title-Logo;
                font-weight: 400;
                margin: 0;
            }
        }
        .line{
            @include mixin-cote(40px,3px);
            background: $check-Color;
            border: none;
            margin: 0;
            position: relative;
        }
        article{
            @include mixin-main-flex(center,flex-start,12px);
            margin-top: 20px;
            margin-bottom: 20px;
            @include desktop{
                @include mixin-cote(39.625rem,auto);
            }
            @include tablet{
                @include mixin-cote(39.625rem,auto);
            }
            h2{
                font-size: nth($font-Size,1);
                font-weight: 300;
            }
            .menu {
                @include mixin-cote(100%,auto);
                padding-inline-start: 0;
                .menu-btn .menu__txt--ingredient, .menu-btn h3 {
                    @include mixin-overflow;
                }
            }           
        }
    }
    form{
        background-color: $second-Background-Color;
        @include mixin-main-flex(center,center,0);
        position: relative;
        z-index: 2;
        padding: 20px 0 35px 0;
        @include desktop{
            @include mixin-cote(73%,auto);
            background-color: $second-Background-Color;
            margin: auto;
        }
        @include tablet{
            @include mixin-cote(87%,auto);
            background-color: $second-Background-Color;
            margin: auto;
        }
    }
}