$primary-Color:#9356DC;
$second-Color:#FF79DA;
$thirth-Color:#99E2D0;
$icon-Color:#7e7e7e;
$check-Color:#99E2D0;
$main-Background-Color:#FFFFFF;
$second-Background-Color:#F7F7F7;
$thirth-Background-Color:#EAEAEA;
$gradient-Background:linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));

$shadow-purple-btn:0px 4px 10px rgba(0, 0, 0, 0.25);
$shadow-grey-btn:0px 4px 15px rgba(0, 0, 0, 0.15);
$shadow-white-btn: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
$shadow-header:inset 0px 2px 4px rgba(0, 0, 0, 0.15);

$font-Title-Logo:"Shrikhand",sans-serif;
$font-Text:"Roboto",sans-serif;

$font-Size: 1rem 1.0625rem 1.125rem 1.5rem 1.75rem;
$font-weight: 300 400 500 700;

$breakpoints: (
    desktop:1024px,
    tablet-min:820px,
    tablet-max:1023px);
